configuration {
  combi-modi: [window,drun,run];
  font: "JetBrainsMono Nerd Font Mono Medium 12";
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}
@import "custom"
@theme "custom"
