{:mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases {;; project creation from templates:
           ;; https://github.com/seancorfield/deps-new
           ;; - create an application project:
           ;;   - clj -X:new :name myname/myapp
           ;;   - cd myapp
           ;;   - clj -M -m myname.myapp # run it!
           ;;   - clj -X:test:runner # run the tests!
           ;; - create a library project:
           ;;   - clj -X:new :template lib :name myname/my-cool-lib
           ;;   - cd my-cool-lib
           ;;   - clj -X:test:runner # run the tests!
           ;; - create a sketch project:
           ;;   - clj -X:new :template scratch :name poc/simple-app

           ;; add this inside your :aliases map:
           :new {:extra-deps {cc.delboni/deps-new-wrap
                              {:git/url "https://github.com/rafaeldelboni/deps-new-wrap"
                               :git/sha "6bd1f2d3bbdbee0d202288a399824345b84a310f"}}
                 :exec-fn cc.delboni.main/new}

           ;; project dependency version check
           ;; https://github.com/liquidz/antq
           ;; - check deps in project
           ;;   - clj -M:outdated
           ;;     --upgrade upgrade outdated versions interactively.
           ;;     --force for upgrading without confirmation.
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.7.1133"}}
                      :main-opts ["-m" "antq.core"]}

           :cider {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                                cider/cider-nrepl {:mvn/version "0.44.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :http {:deps {org.babashka/http-server {:mvn/version "0.1.12"}}
                  :main-opts ["-m" "babashka.http-server"]
                  :exec-fn babashka.http-server/exec}}}
